.container {
  width: 1024px;
  padding: 20px;
}
label {
  font-size: 15px;
  margin-bottom: 5px;
  text-align: left;
}
a{
  text-decoration: none;
}
input,
select {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 14px;
  width: 100%;
}
.input-group {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.form-control{
  border-radius: 50px;
  height: 43px;
}
.form-control:focus {
  box-shadow: 0 0 5px #5e9c44;
  outline: 0;
}

.forgot-password{
  font-size: 15px;
  color: #007a7a;
  text-decoration: none;
  margin-bottom: 20px;
  align-self: flex-start;
  font-weight: 600;
}
.forgot-password:hover {
  text-decoration: underline;
}
.sign-in-btn {
  background-color: #087C7C;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}
.sign-in-btn:hover {
  background-color: #065a5a;
}
.bfpo {
  margin-top: 20px;
  font-size: 15px;
  color: #007a7a;
  display: flex;
  justify-content: end;
  font-weight: 700;
  margin-right: 28px;
}
.register-bfpo{
  font-size: 15px;
  color: #007a7a;
  display: flex;
  justify-content: end; 
  font-weight: 700;
  margin-right: 8px;
}
.register-btn {
  background-color: #000;
  color: #fff;
  padding: 10px 30px;
  font-size: 16px;
  border: none;
  font-weight: 500;
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
  margin-top: 28px;
  display: block;
}
.register-btn:hover {
  background-color: #333;
}
.signin-form, .register-now{
padding: 20px;
text-align: center;
}
.register-now h3{
margin-top: 15px;
}
.existing-customers{
background-color: #f8f8f8;
} 
input:focus-visible {
outline: 1px solid gray;
}
#subheader{
background-color: #f8f8f8;
padding: 8px 20px;
border-top: 1px solid #000;
}
#back-button{
float: left;
}
.signin-page-logo{
padding: 12px;
}
.signin-page-logo img{
height: 17px;
}
.left-Arrow a{
font-size: 17px;
color: #000;
}
.shopping-bag{
padding: 12px 15px 0 0;
}
.shopping-bag-icon{
  position: relative;
  margin-left: 20px;
}
.shopping-bag-icon::before{
  content: '';
  background: #7c7c7c;
  width: 1px;
  height: 18px;
  position: absolute;
  left: -13px;
  top: 2px;
}
.shopping-bag a{
color: #858484;
font-size: 15px;
}
.justify-content-end{
text-align: right;
}
@media only screen and (max-width: 767px) {
.col-sm-6{
width: 50%;
}
}

.password-container {
  display: flex;
  align-items: center;
  position: relative;
}
.password-container input {
  flex-grow: 1;
  margin-right: 10px;
  margin-right: 62px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.password-container button {
  padding: 10px;
  background-color: white;
  border: 1px solid #222222;
  cursor: pointer;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  cursor: pointer;
  top: 0;
  position: absolute;
  right: 0;
  height: 43px;
  width: 62px;
}
.show-btn:hover {
  background-color: #f0f0f0;
}
.password-hint,
.dob-hint,
.phone-hint {
  font-size: 12px;
  color: #777;
  margin-bottom: 20px;
  line-height: 1.5;
  text-align: left;
  padding: 0 10px;
}
@media (min-width: 992px) {
  .input-container label,
  .selectContainer label {
    color: gray;
    z-index: 3;
    width: 23%;
    margin: 0 2% 0 0;
  }
}
.postcode-default{
  font-weight: 700;
  color: #007a7a;
  margin-left: 36%;
}
.btn-search-address{
  background: #007a7a;
  color: #fff;
  display: block;
  width: 100%;
  border: none;
  border-radius: 50px;
  font-weight: 600;
  padding: 8px;
}
.img-responsive{
  max-width: 100%;
}